<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/assets/styles.css">
    <link href='https://fonts.googleapis.com/css?family=Inter' rel='stylesheet'>
    <title>Home</title>
</head>
<body>

    <header class="header-main">
        <p class="logo">Percurso</p>
        <nav class="nav-header">
          <ul class="ul-header">
            <li class="li-header"><a href="/home">home</a></li>
            <li id="li-active" class="li-header"><a href="/categorias">categorias</a></li>
            <li class="li-header"><a href="/podcast">podcast</a></li>
            <li class="li-header"><a href="/sobrenos">sobre nós</a></li>
            
          </ul>
        </nav>
        <div class="button-set">
        <button class="share">compartilhar +</button>
        <button onclick='window.location.href = "/user"' class="avatar"></button>
         </div>
      </header>
      
      <style>
        .banner {
          position: relative;
          margin: 0;
          padding: 0;
          width: 100vw;
          height: 190px;
          background-image: url('/assets/images/categoryBanner/<%=categoria%>.jpg');
          background-size: cover;
          background-position: center;
          
        }
        
        .banner .banner-title {
          position: absolute;
          bottom: 20px;
          left: 140px;
          color: white;
          font-size: 4rem;
          font-family: 'Inter';
        }
        </style>
        
        <div class="banner">
        <div class="banner-overlay"></div>
          <div class="banner-title"><%=categoria%></div>
        </div>
        

      

      <div class="homepage-body">
        <div class="body-elem">
            <div class="body-header">
                <h2></h2>
                <div class="filter-sort">
                    <a href=""><button class="filt-sort-btn">filter by</button></a>
                    <a href=""><button class="filt-sort-btn">sort by</button></a>
                </div>
            </div>

            
            
            <div class="card-carousel">
                <% for (let i = 0; i < Math.min(categories.length, 4); i++) { %>
                    <a href="/curso/<%=categories[i].cursos_id%>">
                        <div class="card">
                            <h3 class="card-title"><%= categories[i].title %></h3>
                            <div>
                                <h6 class="card-caption"><%= categories[i].link %></h6>
                                <p class="card-body"><%= categories[i].description %></p>
                            </div>
                            <div class="card-details">
                                <p>Duration: <%= categories[i].duration %>h</p>
                                <p>Difficulty: <%= categories[i].dificulty %></p>
                                <p>Language: <%= categories[i].lang %></p>
                            </div>
                            <div class="card-price">
                                <h1><%= categories[i].price_now %>$</h1>
                                <div class="card-price-discount">
                                    <h4 class="card-price-discount-strike"><%= categories[i].price_og %>$</h4>
                                    <h4 class="card-price-discount-percent"><%= categories[i].discount %>%</h4>
                                </div>
                            </div>
                            <div class="card-tags">
                                <button class="card-tag"><%= categories[i].category %></button>
                                <h4><%= categories[i].rating %>/5 ⭐ </h4>
                            </div>
                        </div>
                    </a>
                <% } %>
            </div>
            
        </div>
        
        

       

        </div>
      

      

      <footer>
        <div class="footer-info-cols">
        
            <div class="footer-info">
            <p><strong>Informacao</strong></p>
            <p>FAQ</p>
            <p>Blog</p>
            <p>Suporte</p>   
            </div>
          
            <div class="footer-info">
            <p><strong>Campanha</strong></p>
            <p>Acerca</p>
            <p>Carreiras</p>
            <p>Contactos</p>
            </div>
    </div>
        </div>
        <hr>
        <div class="footer-footer">
          <p>Termos</p>
          <p>Privacidade</p>
          <p>Contactos</p>
        </div>
      </footer>
    

      
</body>
</html>